[build]
  command = "pnpm build"
  functions = "netlify/functions"
  publish = "dist"

[dev]
  command = "pnpm dev"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true
